/*
 * Typeface Design Tokens
 *
 */

// Typeface Map
$typefaces: (
    arimo: "" Arimo ", sans-serif",
    slab: "" Roboto Slab ", serif",
);

// Typeface Design Token Config
@function typeface($name) {
    @if map-has-key($typefaces, $name) {
        @return map-get($typefaces, $name);
    }

    @error "The key #{$name} is not in the $typefaces design token map";
    @return null;
}

// Typeface Design Token Usage With Ally Code Snippets
// Snippets can be customized as required in: `./.vscode/ally.code-snippets`
/*
    ta  font-family: typeface(arimo);
    ts  font-family: typeface(slab);
*/
