/*
 * Footer Styling
 */

.footer {
    background-color: $site-background-color;
    border-top: $border;

    &__inner {
        margin: 0 auto;
        max-width: $site-max-width;
        padding: $gutter--m;
    }

    &__text {
        margin: $gutter--m 0;
        font-size: $font-size--s;
    }
}
