/*
 * Footer Styling
 */

.footer {
    background-color: $color-white;
    border-top: $border;

    &__inner {
        margin: 0 auto;
        max-width: $layout-max-width;
        padding: $gutter--m;
    }

    &__text {
        margin: 0.5rem 0;
        font-size: 0.9rem;

        &--copyright {
            font-family: $font--arimo;
        }
    }
}
