/*
 * Header Styling
 */

.header {
    background-color: $site-background-color;
    border-bottom: $border;

    &__inner {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: $site-max-width;
        padding: $gutter--m;
    }

    &__site-title > a {
        font-size: $font-size--m;
        margin: auto 0;
    }

    &__navigation {
        margin: auto 0;

        ul {
            display: flex;
            margin: 0;

            li {
                list-style: none;
                margin: 0 0 0 $gutter--xxl;

                a.active {
                    border-bottom: $border--underline;
                }
            }
        }
    }
}
