/*
 * Button Styles
 *
 */

// Set Site Button Styles
$button-font: typeface(arimo);
$button-color: color(midnight);
$button-background: color(gold);
$button-background--hover: color(tangerine);

button,
.button {
    display: inline-block;
    border: none;
    margin: 0;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    cursor: pointer;
    transition: transition(background-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: $button-font;
    font-weight: font-weight(bold);
    font-size: font-size(hxxs);
    color: $button-color;
    background: $button-background;
    padding: spacing(m) spacing(l);

    &:active {
        transform: scale(1);
    }

    &:hover,
    &:focus {
        background-color: $button-background--hover;
    }
}
