/*
 * Button Styles
 *
 */

// Set Site Button Styles
$button-font: $theme-font-primary;
$button-color: $color-white;
$button-background: $theme-color-accent;
$button-background--hover: $theme-color-accent--darker;

button,
.button {
    display: inline-block;
    border: none;
    margin: 0;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    cursor: pointer;
    transition: $transition-background;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: $button-font;
    font-weight: $font-weight--bold;
    font-size: $font-size--s;
    color: $button-color;
    background: $button-background;
    padding: $gutter--s $gutter--m;

    &:active {
        transform: scale(1);
    }

    &:hover,
    &:focus {
        background-color: $button-background--hover;
    }
}
