/*
 * Button Styles
 *
 */

button,
.button {
    display: inline-block;
    border: border(default);
    font-family: typeface(arimo);
    font-weight: font-weight(bold);
    font-size: font-size(hxxs);
    color: color(midnight);
    background: color(gold);
    padding: spacing(m) spacing(l);
    transition: transition(background-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    line-height: 1;
    margin: 0 spacing(m) 0 0;

    &:active {
        transform: scale(1);
    }

    &:hover,
    &:focus {
        background-color: tint(color(gold), 40);
    }
}
