/*
 * Layout Design Tokens
 *
 * Inspiration from:
 * https://www.carbondesignsystem.com/guidelines/themes/overview#spacing
 * https://scarab.style/core/design-tokens/#spacing
 * https://webdesign.tutsplus.com/tutorials/an-introduction-to-sass-maps-usage-and-examples--cms-22184
 *
 * Contents:
 * - Breakpoints Design Tokens
 * - Spacing Design Tokens
 * - Wrappers Design Tokens
 * - ZLayers Design Tokens
 * - Layout Design Tokens Configuration
 */

/*
 * Breakpoint Design Tokens
 */

// Breakpoint Values
// These values should be updated according to your design and not set according to device widths
// Styles set before a breakpoint will apply from 0px - 379px and until overridden using the cascade using a mobile-first approach
$breakpoints: (
    // xs / 380px - 499px
        xs: 380px,
    // s / 500px - 949px
        s: 500px,
    // m / 950px - 1199px
        m: 950px,
    // l / 1200px - 1599px
        l: 1200px,
    // xl / 1600px +
        xl: 1600px
);

// Breakpoint Design Token Usage With VS Code Code Snippets
// By default these media queries do not specify a specific feature, please change as required
// A full list of media features can be found at: https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries#Media_features
// Snippets can be customized as required in: `./.vscode/ally.code-snippets`
/*
    bp       @media (min-width: breakpoint(?)) {}
    bpxs     @media (min-width: breakpoint(xs)) {}
    bps      @media (min-width: breakpoint(s)) {}
    bpm      @media (min-width: breakpoint(m)) {}
    bpl      @media (min-width: breakpoint(l)) {}
    bpxl     @media (min-width: breakpoint(xl)) {}
*/

/*
 * Spacing Design Tokens
 */

// Spacing Scale
$spacing: (
    // xxxxs / 1px
        xxxxs: 0.0625rem,
    // xxxs / 2px
        xxxs: 0.125rem,
    // xxs / 4px
        xxs: 0.25rem,
    // xs / 8px
        xs: 0.5rem,
    // s / 12px
        s: 0.75rem,
    // m / 16px
        m: 1rem,
    // l / 24px
        l: 1.5rem,
    // xl / 32px
        xl: 2rem,
    // xxl / 40px
        xxl: 2.5rem,
    // xxxl / 48px
        xxxl: 3rem,
    // xxxxl / 56px
        xxxxl: 3.5rem
);

// Spacing Design Token Usage With VS Code Code Snippets
// Snippets can be customized as required in: `./.vscode/ally.code-snippets`
/*
    sxxxxs  spacing(xxxxs);
    sxxxs   spacing(xxxs);
    sxxs    spacing(xxs);
    sxs     spacing(xs);
    ss      spacing(s);
    sm      spacing(m);
    sl      spacing(l);
    sxl     spacing(xl);
    sxxl    spacing(xxl);
    sxxxl   spacing(xxxl);
    sxxxxl  spacing(xxxl);
*/

/*
 * Wrapper Design Tokens
 */

// Wrapper Values
$wrappers: (
    SiteMaxWidth: 1400px,
);

// Wrapper Design Tokens Usage With VS Code Code Snippets
// Snippets can be customized as required in: `./.vscode/ally.code-snippets`
/*
    wsite   width: wrapper(SiteMaxWidth);
*/

/*
 * Z layer Design Tokens
 */

// Z Layer Values
$zlayers: (
    SkipLink: 10,
    Header: 5,
    Footer: 5,
);

// Z Layer Design Token Usage With VS Code Code Snippets
// Snippets can be customized as required in: `./.vscode/ally.code-snippets`
/*
    zl  z-index: zlayer(ComponentName);
*/

/* 
 * Layout Design Tokens Configuration
 */

// Breakpoint Design Tokens Config
@function breakpoint($name) {
    @if map-has-key($breakpoints, $name) {
        @return map-get($breakpoints, $name);
    }

    @error "The key #{$name} is not in the $breakpoints design token map";
    @return null;
}

// Spacing Design Tokens Config
@function spacing($name) {
    @if map-has-key($spacing, $name) {
        @return map-get($spacing, $name);
    }

    @error "The key #{$name} is not in the $spacing design token map";
    @return null;
}

// Wrapper Design Tokens Config
@function wrapper($name) {
    @if map-has-key($wrappers, $name) {
        @return map-get($wrappers, $name);
    }

    @error "The key #{$name} is not in the $wrappers design token map";
    @return null;
}

// Z Layer Design Tokens Config
@function zlayer($name) {
    @if map-has-key($zlayers, $name) {
        @return map-get($zlayers, $name);
    }

    @error "The key #{$name} is not in the $zlayers design token map";
    @return null;
}
