/*
 * Typography Styles
 *
 * https://brajeshwar.github.io/entities/
 * https://developer.mozilla.org/en-US/docs/Web/HTML/Element/i
 * Use <em> to indicate stress emphasis.
 * Use <strong> to indicate importance, seriousness, or urgency.
 * Use <mark> to indicate relevance.
 * Use <cite> to mark up the name of a work, such as a book, play, or song.
 * Use <dfn> to mark up the defining instance of a term, sould include <strong> around it.
 */

// Headings (H1 - H6)
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: typeface(arimo);
    font-weight: font-weight(bold);
    line-height: leading(regular);
    letter-spacing: tracking(regular);
    color: color(midnight);
    margin-bottom: spacing(l);
}

h2,
h3,
h4,
h5,
h6 {
    margin: spacing(l) 0;
}

h1 {
    font-size: font-size(hxl);
}

h2 {
    font-size: font-size(hl);
}

h3 {
    font-size: font-size(hm);
}

h4 {
    font-size: font-size(hs);
}

h5 {
    font-size: font-size(hxs);
}

h6 {
    font-size: font-size(hxxs);
}

// Pargraphs
p {
    font-family: typeface(slab);
    font-size: font-size(copy);
    font-weight: font-weight(regular);
    line-height: leading(regular);
    letter-spacing: tracking(regular);
    color: color(midnight);
}

// Anchor Links
a,
a:link,
a:visited {
    font-family: typeface(slab);
    font-size: font-size(copy);
    font-weight: font-weight(bold);
    line-height: leading(regular);
    letter-spacing: tracking(regular);
    color: color(midnight);

    &:hover,
    &:active,
    &.focus-visible {
        background: color(gold);
        text-decoration-style: double;
    }
}

// Unordered and Ordered Lists
ul,
ol {
    margin: spacing(xl) 0;
    padding-left: spacing(xxxxl);

    li {
        margin: spacing(xxs) 0;
        font-size: font-size(copy);
        font-weight: font-weight(bold);
    }
}

// Caption
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/figcaption
// The <figcaption> element represents a caption or legend describing
// the rest of the contents of its parent <figure> element.
figcaption {
    font-size: font-size(caption);
    font-weight: font-weight(bold);
    padding: spacing(l) 0 spacing(xl);
    color: tint(color(midnight), 20);
    text-align: right;
}

// Microcopy
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/small
// The <small> element represents side-comments and small print, like copyright and legal text,
// independent of its styled presentation.
small {
    font-size: font-size(microcopy);
    font-weight: font-weight(bold);
    color: color(midnight);
}

// Emphasis
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/em
// The <em> element is for words that have a stressed emphasis compared to surrounding text,
// which is often limited to a word or words of a sentence and affects the meaning of the sentence itself.
em {
    font-size: font-size(copy);
    font-weight: font-weight(bold);
    font-style: italic;
    color: color(midnight);
}

// Idiomatic Text
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/i
// The <i> element represents a range of text that is set off from the normal text
// for some reason, such as idiomatic text, technical terms or taxonomical designations.
i {
    font-style: italic;
    color: color(midnight);
}

// Strong Importance
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/strong
// The <strong> element indicates that its contents has a strong importance, seriousness, or urgency.
strong {
    font-weight: font-weight(bold);
    color: color(midnight);
}

// Highlight
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/mark
// The <mark> element represents text which is marked or highlighted for reference or notation purposes,
// due to the marked passage's relevance or importance in the enclosing context.
mark {
    background-color: color(gold);
    color: color(midnight);
}
// Accessibility concerns
// https://developer.paciellogroup.com/blog/2017/12/short-note-on-making-your-mark-more-accessible
// The presence of the mark element is not announced by most screen reading technology in its default configuration.
// It can be made to be announced by using the CSS content property, along with the ::before and ::after pseudo-elements.
mark::before,
mark::after {
    content: " [highlight start] ";
    clip-path: inset(100%);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}

mark::after {
    content: " [highlight end] ";
}

blockquote {
    margin: 0;
}

blockquote {
    p {
        padding: spacing(xl) spacing(xxl);
        color: color(midnight);
        border-radius: radius(square);
        background: color(gold);
        line-height: 28px;

        span.open-quotation,
        span.close-quotation {
            font-size: font-size(hxxs);
            line-height: 18px;
            padding: 0 spacing(xxs) 0 0;
        }

        span.close-quotation {
            padding: 0 0 0 spacing(xxs);
        }
    }

    footer {
        font-weight: bold;
        padding: spacing(xxs) spacing(xxl);

        span.em-dash {
            padding: 0 spacing(xxs) 0 0;
        }
    }
}

// // Citation
// cite {
// }
// // Block Quotation
// blockquote {
// }
