/*
 * Typography Styles
 *
 * https://brajeshwar.github.io/entities/
 * https://developer.mozilla.org/en-US/docs/Web/HTML/Element/i
 * Use <em> to indicate stress emphasis.
 * Use <strong> to indicate importance, seriousness, or urgency.
 * Use <mark> to indicate relevance.
 * Use <cite> to mark up the name of a work, such as a book, play, or song.
 * Use <dfn> to mark up the defining instance of a term, sould include <strong> around it.
 */

/* Tracking Design Tokens
*************************/

// Tracking (letter-spacing) Map
$tracking-widths: (
    regular: 0,
    wide: 0.1rem,
);

// Tracking (letter-spacing) Design Token Config
@function tracking($name) {
    @if map-has-key($tracking-widths, $name) {
        @return map-get($tracking-widths, $name);
    }

    @error "The key #{$name} is not in the $tracking-widths design token map";
    @return null;
}

/* Heading Styling
******************/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: typeface(arimo);
    font-weight: font-weight(bold);
    color: color(midnight);
    line-height: leading(regular);
    letter-spacing: tracking(regular);
    padding: 0;
    margin-bottom: spacing(l);
}

h2,
h3,
h4,
h5,
h6 {
    margin: spacing(l) 0;
}

h1 {
    font-size: font-size(hxl);
}

h2 {
    font-size: font-size(hl);
}

h3 {
    font-size: font-size(hm);
}

h4 {
    font-size: font-size(hs);
}

h5 {
    font-size: font-size(hxs);
}

h6 {
    font-size: font-size(hxxs);
}

/* Pargraph Styling
*******************/
p {
    font-family: typeface(slab);
    font-weight: font-weight(regular);
    color: color(midnight);
    line-height: leading(regular);
    font-size: font-size(copy);
}

/* Link (Anchor) Styling
************************/
a,
a:link,
a:visited {
    // font-family: $link-font;
    // font-weight: $link-weight;
    // color: $link-color;
    // text-decoration: none;
    // padding-bottom: 2px;
    // font-size: $font-size--s;

    &:hover,
    &:active,
    &.focus-visible {
        // border-bottom: border(default);
    }
}

/* List (Unordered List) Styling
********************************/
ul {
    margin: spacing(xl) 0;

    li {
        margin: spacing(s) 0;
        font-size: font-size(copy);
    }
}

// Subcopy Caption
// // Microcopy (Side Comment)
// small {
// }

// }
// // Emphasis
// em {
// }
// // Idiomatic
// i {
// }
// // Strong Importance
// strong {
// }
// // Highlight (Mark Text)
// mark {
// }
// // Citation
// cite {
// }
// // Block Quotation
// blockquote {
// }

mark {
    background-color: color(gold);
    color: color(midnight);
}
// Accessibility concerns
// The presence of the mark element is not announced by most screen reading technology in its default configuration.
// It can be made to be announced by using the CSS content property, along with the ::before and ::after pseudo-elements.
// https://developer.paciellogroup.com/blog/2017/12/short-note-on-making-your-mark-more-accessible/
mark::before,
mark::after {
    content: " [highlight start] ";
    clip-path: inset(100%);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}

mark::after {
    content: " [highlight end] ";
}

blockquote {
    margin: 0;
}

blockquote {
    p {
        padding: spacing(xl) spacing(xxl);
        color: color(midnight);
        border-radius: radius(square);
        background: color(gold);
        line-height: 28px;

        span.open-quotation,
        span.close-quotation {
            font-size: font-size(hxxs);
            line-height: 18px;
            padding: 0 spacing(xxs) 0 0;
        }

        span.close-quotation {
            padding: 0 0 0 spacing(xxs);
        }
    }

    footer {
        font-weight: bold;
        padding: spacing(xxs) spacing(xxl);

        span.em-dash {
            padding: 0 spacing(xxs) 0 0;
        }
    }
}
