/*
 * Border Styles
 *
 */

// Set Border Styling
$border-width: 3px;
$border-style: solid;
$border-color: $color-indigo;

// Set Border Style
$border: $border-width $border-style $border-color;

// Set Border Bottom Style
$border--bottom: $border-width * 1.2 $border-style $border-color;
