/* Breakpoints
 *************/

// Set Breakpoint Options
$breakpoint-mobile--s: 380px;
$breakpoint-mobile: 500px;
$breakpoint-tablet: 950px;
$breakpoint-desktop: 1200px;
$breakpoint-desktop--l: 1600px;
