/*
 * Leading Design Tokens
 *
 */

// Leading (line-height) Map
$leading-heights: (
    regular: 1.5,
    tall: 1.8,
);

// Leading (line-height) Design Tokens Config
@function leading($name) {
    @if map-has-key($leading-heights, $name) {
        @return map-get($leading-heights, $name);
    }

    @error "The key #{$name} is not in the $leading-heights design token map";
    @return null;
}

// Leading Design Token Usage With Ally Code Snippets
// Snippets can be customized as required in: `./.vscode/ally.code-snippets`
/*
    lr  line-height: leading(regular);
    lt  line-height: leading(tall);
*/
