/*
 * Border Styles
 *
 */

// Borders Map
/**
 * @sass-export-section="borders"
 */
$borders: (
    default: solid #000013 3px,
    error: solid #f30b17 3px,
);
//@end-sass-export-section

// Borders Design Token Config
@function border($name) {
    @if map-has-key($borders, $name) {
        @return map-get($borders, $name);
    }

    @error "The key #{$name} is not in the $borders design token map";
    @return null;
}

// Borders Design Token Usage With Ally Code Snippets
// Snippets can be customized as required in: `./.vscode/ally.code-snippets`
/*
    bd  border: border(default);
    be  border: border(error);
*/
