.m-menu-desktop {
    display: none;

    @media (min-width: $breakpoint-tablet) {
        display: flex;
        margin: 0;
    }

    &__list {
        display: flex;
        list-style: none;
        padding: 0;
    }

    &__list-item {
        margin: 0 0 0 $gutter--m;

        &:first-of-type {
            margin-left: 0;
        }

        a.active {
            border-bottom: $border--bottom;
        }
    }
}
