/*
 * Global Styling
 *
 * Modern CSS Reset based on: https://dev.to/hankchizljaw/a-modern-css-reset-6p3
 */

// Box sizing rules
*,
*::before,
*::after {
    box-sizing: border-box;
}

// Set Core Body Defaults
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: $font-line-height;
}

// Remove Default Margins
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

// Make Images Easier to Work With
img {
    max-width: 100%;
    display: block;
}

// Natural Flow and Rhythm in Articles by Default
article > * + * {
    margin-top: 1em;
}

// Inherit Fonts for Inputs and Buttons
input,
button,
textarea,
select {
    font: inherit;
}

// Remove All Animations and Transitions for People Who Prefer Not to See Them
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/*
 * Global Styles For Site Start Here
 */

// Set Global Default Font Styles
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading--font;
    font-weight: $heading--weight;
    margin: $gutter--m 0 $gutter--l;
}

h2,
h3,
h4,
h5,
h6 {
    margin: $gutter--xl 0 $gutter--m;
}

p {
    font-family: $paragraph--font;
    font-weight: $paragraph--weight;
    margin-bottom: $gutter--s;
    font-size: $font-size--s;
}

h1 {
    font-size: $font-size--xl;
}

h2 {
    font-size: $font-size--l;
}

h3,
h4,
h5,
h6 {
    font-size: $font-size--m;
}

a {
    font-family: $link--font;
    font-weight: $link--weight;
    color: $link--color;
    text-decoration: none;
    padding-bottom: 2px;
    font-size: $font-size--s;

    &:hover {
        border-bottom: $border--underline;
    }
}

ul {
    margin: $gutter--l 0;

    li {
        margin: $gutter--xs 0;
        font-size: $font-size--s;
    }
}
