/*
 * Header Styles
 *
 */

.header {
    z-index: zlayer(Header);
    background-color: $site-background-color;
    border-bottom: $border;
    width: 100%;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        max-width: $site-max-width;
        padding: $gutter--m;
    }

    &__site-title {
        margin: auto 0;
    }

    &__in-link {
        font-size: $font-size--m;
    }

    &__navigation {
        display: flex;
        margin: auto 0;
        padding-left: $gutter--s;
    }
}
