/*
 * Global Styles
 *
 */

// Set Site Background Color
$site-background-color: $color-snow; // @todo: Change to actual color from colors!

// Set the root font-size for REMs
:root {
    font-size: 16px;
}

// Set Body Background Color
body {
    background-color: $color-snow;

    @media (prefers-color-scheme: dark) {
        background-color: $color-midnight;
    }
}
