/*
 * Internal Link Styles
 *
 */

.in-link {
    font-family: typeface(arimo);
    font-weight: font-weight(bold);
    color: color(midnight);
    text-decoration: none;
    font-size: font-size(copy);

    &:hover {
        border-bottom: border(default);
    }

    &.--microcopy {
        font-size: font-size(microcopy);
        font-weight: font-weight(bold);
        color: color(midnight);
    }
}
