/*
 * Global Styles
 *
 * Modern CSS Reset based on: https://dev.to/hankchizljaw/a-modern-css-reset-6p3
 */

// Set Document Root Values
:root {
    font-size: 16px;
}

// Box sizing rules
*,
*::before,
*::after {
    box-sizing: border-box;
}

// Set Core Body Defaults
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: $font-line-height;
}

// Remove Default Margins
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

// Make Images Easier to Work With
img {
    max-width: 100%;
    display: block;
}

// Natural Flow and Rhythm in Articles by Default
article > * + * {
    margin-top: 1em;
}

// Inherit Fonts for Inputs and Buttons
input,
button,
textarea,
select {
    font: inherit;
}

// Remove All Animations and Transitions for People Who Prefer Not to See Them
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/*
 * Global Styles For Site Start Here
 */

// Set Global Default Font Styles
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font;
    font-weight: $heading-weight;
    color: $heading-color;
    margin: $gutter--m 0 $gutter--l;
}

h2,
h3,
h4,
h5,
h6 {
    margin: $gutter--xl 0 $gutter--s;
}

p {
    font-family: $paragraph-font;
    font-weight: $paragraph-weight;
    color: $paragraph-color;
    margin-bottom: $gutter--s;
    font-size: $font-size--s;
}

h1 {
    font-size: $font-size--xl;
}

h2 {
    font-size: $font-size--l;
}

h3,
h4,
h5,
h6 {
    font-size: $font-size--m;
}

a {
    font-family: $link-font;
    font-weight: $link-weight;
    color: $link-color;
    text-decoration: none;
    padding-bottom: 2px;
    font-size: $font-size--s;

    &:hover {
        border-bottom: $border--underline;
    }
}

ul {
    margin: $gutter--l 0;

    li {
        margin: $gutter--xs 0;
        font-size: $font-size--s;
    }
}

// Todo: Add Button styling!
// For help: https://css-tricks.com/overriding-default-button-styles/

button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
    /* 1 */
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
    /* 1 */
    text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

/* Buttons styles start */
button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}
/* Button styles end */

a.active {
    border-bottom: $border--underline;
}
