/*
 * Footer Styles
 */

.o-footer {
    background-color: $site-background-color;
    border-top: $border;

    &__inner {
        max-width: $site-max-width;
        padding: $gutter--m;
        margin: 0 auto;
    }

    &__text {
        font-size: $font-size--xs;
        margin: $gutter--xs 0;

        .--ex-link {
            font-size: $font-size--xs;

            svg {
                width: 12px;
                height: 12px;
                margin-left: $gutter--xxxxs;
            }

            &:hover {
                border-width: 2px;
            }
        }
    }
}
