/*
 * Header Styles
 */

.o-header {
    z-index: map-get($zindex, header);
    background-color: $site-background-color;
    border-bottom: $border;

    &__inner {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: $site-max-width;
        padding: $gutter--m;
    }

    &__site-title > a {
        font-size: $font-size--m;
        margin: auto 0;
    }

    &__navigation {
        margin: auto 0;
    }
}
