/*
 * External Link Styles
 *
 */

.ex-link {
    display: inline-block;
    color: color(midnight);
    // Stops link text from wrapping with / without SVG
    // @todo: Possibly change so it can wrap but with SVG
    white-space: nowrap;

    svg {
        width: 15px;
        height: 15px;
        fill: color(midnight);
        margin: 0 spacing(xxxs) 0 spacing(xxs);
    }

    &.--microcopy {
        font-size: font-size(microcopy);
        font-weight: font-weight(bold);
        color: color(midnight);

        svg {
            width: 12px;
            height: 12px;
            margin: 0 spacing(xxxs);
        }
    }
}
