// Color Palette Options
$color-snow: #fffafa; // Snow
$color-midnight: #000013; // Midnight
$color-gold: #ffd700; // Gold
$color-tangerine: #f28500; // Tangerine

// Color Palette Map
$colors: (
    // Snow
        snow: #fffafa,
    // Midnight
        midnight: #000013,
    // Gold
        gold: #ffd700,
    // Tangerine
        tangerine: #f28500
);

// Color Design Token Config
@function color($name) {
    @if map-has-key($colors, $name) {
        @return map-get($colors, $name);
    }

    @error "The key #{$name} is not in the $colors design token map";
    @return null;
}

// @todo: Add Gradients
