/*
 * Main Layout Template Styles
 *
 */

$header-and-footer: 14.5rem; // Height of header + footer

.t-main-layout {
    margin: 0 auto;
    max-width: $site-max-width;
    padding: $gutter--xl $gutter--m;
    min-height: calc(
        100vh - #{$header-and-footer}
    ); // Set minimum page height to viewport height - (header + footer) height to keep footer at bottom of page
}
