/*
 * Post Template Styles
 *
 */

.t-post-template {
    margin-top: $gutter--xl;

    &__frontmatter {
        margin: $gutter--xl 0;
    }

    &__date {
        font-weight: $font-weight--bold;
    }

    &__content {
        margin: $gutter--m 0;
    }
}
