/*
 * Default Page Layout Styling
 *
 * Sass '$self: &;' Parent Selector with Interpolation: https://css-tricks.com/using-sass-control-scope-bem-naming/
 */

.default-page-layout {
    $self: &;

    &__grid {
        display: grid;
        row-gap: $gutter--m;

        @media (min-width: $breakpoint-tablet) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(1, auto);
            column-gap: $gutter--m;
            row-gap: $gutter--m;
        }
    }

    &__column {
        max-width: 570px;
    }

    &__feature-image {
        width: 100%;
        margin: $gutter--m auto $gutter--xl 0;

        @media (min-width: $breakpoint-tablet) {
            width: 90%;
            margin: $gutter--m 0 $gutter--xl auto;
        }
    }

    &__icons {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 auto 0 0;

        @media (min-width: $breakpoint-tablet) {
            width: 90%;
            margin: 0 0 0 auto;
        }

        &--three-icons {
            justify-content: space-around;

            #{$self}__icon {
                width: 20%;
            }
        }

        &--two-icons {
            @media (min-width: $breakpoint-tablet) {
                justify-content: space-around;
            }

            #{$self}__icon {
                width: 38%;

                @media (min-width: $breakpoint-tablet) {
                    margin: $gutter--m 0 $gutter--m auto;
                }
            }
        }

        &--one-icon {
            #{$self}__icon {
                justify-content: space-around;
                width: 70%;

                @media (min-width: $breakpoint-tablet) {
                    justify-content: space-between;
                    margin: -$gutter--m 0 $gutter--m auto;
                }
            }
        }
    }

    &__icon {
        width: 11%;
        margin: 0 0 $gutter--m;
    }
}
