.layout-main {
    margin: 0 auto;
    max-width: $layout-maxWidth;
    padding: $layout-padding;
    min-height: calc(100vh - 15rem); // Minimum page height set to viewport height minus header and footer height
}
