/*
 * Transition Styles
 *
 */

// Transitions Map
$transitions: (
    background-color: background-color 0.2s ease-in-out,
    transform: transform 0.2s ease-in-out,
    opacity: opacity 0.2s ease-in-out,
);

// Transitions Design Token Config
@function transition($name) {
    @if map-has-key($transitions, $name) {
        @return map-get($transitions, $name);
    }

    @error "The key #{$name} is not in the $transitions design token map";
    @return null;
}

// Transitions Design Token Usage With Ally Code Snippets
// Snippets can be customized as required in: `./.vscode/ally.code-snippets`
/*
    tbc   transition: transition(background-color);
    tt    transition:: transition(transform);
    to    transition:: transition(opacity);
*/
