/*
 * Icon Styles
 *
 */

.icon {
    width: 24px;
    height: 24px;

    &.--small {
        width: 16px;
        height: 16px;
    }

    &.midnight {
        fill: color(midnight);
    }

    &.snow {
        fill: color(snow);
    }
}
