.a-button {
    font-family: $button-font;
    color: $button-color;
    background: $button-background;
    font-size: $font-size--s;
    padding: $gutter--s $gutter--m;

    &:hover,
    &:focus {
        background-color: $button-background--hover;
    }
}
