/*
 * Button Styles
 *
 */

.a-button {
    font-family: $button-font;
    font-weight: $font-weight--bold;
    font-size: $font-size--s;
    color: $button-color;
    background: $button-background;
    padding: $gutter--s $gutter--m;

    &:hover,
    &:focus {
        background-color: $button-background--hover;
    }
}
