.a-ex-link {
    display: inline-block;
    color: $link-color;
    white-space: nowrap; // Stops link text from wrapping with / without SVG - @todo: Possibly change so it can wrap but with SVG

    svg {
        width: 14px;
        height: 14px;
        fill: $link-color;
        margin: auto 0 auto $gutter--xxxs;
    }

    &.--smaller {
        font-size: $font-size--xs;

        svg {
            width: 12px;
            height: 12px;
            margin-left: $gutter--xxxxs;
        }
    }
}
