.a-ex-link {
    color: $link-color;

    svg {
        width: 14px;
        height: 14px;
        fill: $link-color;
        margin-left: $gutter--xxxs;
    }

    &.--smaller {
        font-size: $font-size--xs;

        svg {
            width: 12px;
            height: 12px;
            margin-left: $gutter--xxxxs;
        }

        &:hover {
            border-width: 2px;
        }
    }
}
