/*
 * Skip Nav Link Styles
 *
 * Custom styling for the Reach UI 'skip-nav' component: https://reacttraining.com/reach-ui/skip-nav
 * Source code: https://github.com/reach/reach-ui/tree/master/packages/skip-nav
 */

:root {
    --reach-skip-nav: 1;
}

[data-reach-skip-nav-link] {
    position: absolute;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

[data-reach-skip-nav-link]:focus {
    position: fixed;
    overflow: hidden;
    left: $gutter--xs;
    width: auto;
    height: auto;
    clip: auto;
    border: $border;
    padding: $gutter--xs;
    background-color: $site-background-color;
    z-index: 1;
    transform: translateY($gutter--xs);
    opacity: 1;
}
